# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
bakasura/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Streamlit config and secrets
.streamlit/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.pytest_cache/
.coverage

# IDE / Editor specific
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Logs
*.log